mat-sidenav-container{
    height: 100%;
}
mat-sidenav,mat-sidenav-content{
    padding: 16px;
}
mat-sidenav{
    width: 200px;
    background: olive;
    color: #000;
    font-weight: 500;    
}
mat-icon.menu{
    cursor: pointer;
}