<mat-sidenav-container>
  <mat-sidenav 
  mode="side"
  #sidenav
  [(opened)]="opened">TESTEE</mat-sidenav>
    <mat-sidenav-content>      
      <!-- <button (click)="opened=!opened">Toggle</button> -->
      <mat-icon (click)="sidenav.toggle()" class="menu">menu</mat-icon>    
    </mat-sidenav-content>           
</mat-sidenav-container>
<mat-nav-list>
    <a mat-list-item>
      <mat-icon matListIcon>home</mat-icon>
      <h4 matLine>Heading 1</h4>
      <p matLine>Home</p>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item>
      <mat-icon matListIcon>person</mat-icon>
      <h4 matLine>Heading 2</h4>
      <p matLine>User</p>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item>
      <mat-icon matListIcon>lock</mat-icon>
      <h4 matLine>Heading 3</h4>
      <p matLine>Logout</p>
    </a>
  </mat-nav-list>
